[submodule "screenshotapp"]
	path = screenshotapp
	url = git@github.com:joceqo/screenshotapp.git
[submodule "quiz"]
	path = quiz
	url = git@github.com:joceqo-ios/quiz.git
[submodule "hacking-with-macos"]
	path = hacking-with-macos
	url = git@github.com:joceqo-ios/hacking-with-macos.git
